html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
	font-size: 16px;
}
/* ==================== */
body{
	width: 100%;
  background: #fff;
  margin: 0 auto;
}
.main-header{
	width: 100%;
	background: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
a.user{
	font-size: 2em;
	padding: 10px;
}
a.toggle-nav{
	font-size: 2em;
	padding: 10px;
}
h1{
	font-family: 'Abril Fatface', cursive;
  font-size: 2em;
	padding: 10px;
	text-transform: uppercase;
}
.main-nav{
	display: none;
	font-family: 'Open Sans Condensed',sans-serif;
}
.main-body{
	font-family: 'Open Sans Condensed',sans-serif;
}

h2{
	font-size: 1.5em;
	font-family: 'Open Sans Condensed',sans-serif;
	text-transform: uppercase;
	padding: 5px;
	border-bottom: 1px solid #000;
}
.main-footer{
	font-family: 'Open Sans Condensed',sans-serif;

	width: 100%;
	background: #f2f2f2;
  border-top: 1px solid #000;
  padding: 10px;
}
.contact{
	overflow: hidden;
}
.contact li{
  float: left;
  text-transform: capitalize;
  padding: 10px;
}
.social{
	overflow: hidden;
	width: 100%;
}
.social li{
	float: left;
	padding: 10px;
}
a{
	text-decoration: none;
	color: inherit;
}
/* ====================== */
@media (min-width:1024px) {
	.main-nav{
		display: none;
		font-size: 2em;
	  padding: 10px;
	}
	.main-nav i {
	  float: left;
	}
	.main-nav ul {
	  float: left;
	}
	.main-nav li {
	  float: left;
	  text-transform: capitalize;
	  padding: 0px 10px;
	  border-right:1px solid #fff;
	}

	}
body{
  padding: 10px;
}
h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
h3{
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
