html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* ==================== */

.container{
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-header{
  position: absolute;
  top: 5px;
  border-bottom: 2px solid #000;
}
h1{
  font-size: 40px;
  text-align: center;
}
.main-nav {
  float: left;
  font-size: 16px;
  padding: 10px 10px;
}
.main-nav i {
  float: left;
}
.main-nav ul {
  float: left;
}
.main-nav li {
  float: left;
  text-transform: capitalize;
  padding: 0px 10px;
  border-right:1px solid #fff;
}
.main-footer{
  border-top: 2px solid #000;
  position: absolute;
  bottom: 5px;
}
.main-footer {
  float: left;
  font-size: 16px;
  padding: 10px 10px;
  margin-left: 10px;
}
.main-footer i {
  float: left;
}
.main-footer ul {
  float: left;
}
.main-footer li {
  float: left;
  text-transform: capitalize;
  padding: 0px 10px;
  border-right:1px solid #fff;
}
